{% load static %}
<header>
    <div class="header-box">
        <div class="main-img">
            <a href="#">
                <img src="https://raw.githubusercontent.com/junngo/djangogram/57d8452b6181cac7e07bd03d850bf9f305132261/djangogram/static/images/posts/main_logo.png" alt="logo">
            </a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
        <div class="header-right">
            <div>
                <a href="#">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa fa-user fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</header>